#blog {
    position: absolute;
    top:      0;
    left:     0;
    width:    100%;
    height:   100%;
}
.headerlink {
    color: grey;
    &:before {
        content: '#';
        padding-right: 8px;
    }

    &:hover {
        color: #333;
    }
}