---
import { AUTHOR } from '@/config';
const year = new Date().getFullYear();
---

<footer class="text-center text-slate-500 dark:text-slate-300 my-16">
  <div>
    Copyrights Â© {year}
    {AUTHOR.name}. All Rights Reserved
  </div>
  <div>
    <a 
      href="https://evecalm.com"
      target="_blank"
      class="text-slate-500 dark:text-slate-300"
      >å¤å½±</a
    > &
    <a href="https://forth.ink" target="_blank" class="text-slate-500 dark:text-slate-300"
      >ğ—³ğ—¼ğ—¿ğ˜ğ—µğ—¶ğ—»ğ—¸</a
    >
  </div>
</footer>
<script defer src="https://www.googletagmanager.com/gtag/js?id=G-DPSKR82X8Z"
></script>
<script defer is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'G-DPSKR82X8Z');
</script>
