---
import { SITE_NAME, AUTHOR } from '@/config';
import { Github, Rss } from 'lucide-react';
---

<header
  class="max-w-4xl flex justify-between items-center m-auto py-8 px-4 font-serif text-slate-500 dark:text-slate-400 max-xs:flex-col max-xs:gap-2">
  <h1 class="text-xl">
    <a href="/">{SITE_NAME}</a>
  </h1>
  <ul class="flex gap-4">
    <li>
      <a href="/tags/">分类</a>
    </li>
    <li>
      <a href="/categories/">标签</a>
    </li>
    <li>
      <a href={AUTHOR.about} target="_blank">关于</a>
    </li>
    <li>
      <a href="/atom.xml" target="_blank" aria-label="RSS 订阅">
        <Rss />
      </a>
    </li>
    <li>
      <a href={AUTHOR.github} target="_blank" aria-label="Github 账户">
        <Github />
      </a>
    </li>
  </ul>
</header>
