---
import { getPostSlug, type IBlogEntry } from '@/content/config';
import { getExcerpt } from '@/common/utils';

interface Props {
  entry: IBlogEntry;
}

const allPosts = await Astro.glob('../content/blog/**/*.md');

const { entry } = Astro.props;

const postItem = allPosts.find((post) => post.file.endsWith(entry.id))!;

const excerpt = await getExcerpt(postItem.compiledContent());
const postSlug = getPostSlug(entry.data);
---

<article>
  <h2>
    <a href={postSlug}>
      {entry.data.title}
    </a>
  </h2>
  <div set:html={excerpt} />
  <p>
    <a href={postSlug}> 阅读全文 </a>
  </p>
</article>
